<!DOCTYPE html>
<html lang=""en>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content=""IE=edge>
        <meta name="viewport" content=""width=device-wdith, intitial-scale="1.0">
        <title>InstagramClone</title>
        <script src="https://unpkg.com/feather-icons"></script>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="./styles.css" />
        <link
          data-default-icon="https://static.cdninstagram.com/rsrc.php/v3/yt/r/30PrGfR3xhB.png"
          rel="icon"
          sizes="192x192"
          href="https://static.cdninstagram.com/rsrc.php/v3/yt/r/30PrGfR3xhB.png"
        />
        <link
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
          rel="stylesheet"
        />
        <script
          src="https://kit.fontawesome.com/5b938571dd.js"
          crossorigin="anonymous"
        ></script>

    </head>

    <body>
        <div class="sidebar">
            <div class="top-section">
              <img class="logo" src="./assets/insta-written.png" />
              <img class="logo2" src="./assets/insta-logo.png" />
              <div class="link">
                <img
                  src="./assets/home.png"
                  style="height: 1rem; margin-right: 0.5rem"
                />
                <a href="#">Home</a>
              </div>
              <div class="link">
                <i class="fas fa-search"></i>
                <a href="#">Search</a>
              </div>
              <div class="link">
                <img
                  src="./assets/explore.png"
                  style="height: 1rem; margin-right: 0.5rem"
                />
                <a href="#">Explore</a>
              </div>
    </body>
</html>
