<!DOCTYPE html>
<html lang=""en>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content=""IE=edge>
        <meta name="viewport" content=""width=device-wdith, intitial-scale="1.0">
        <title>InstagramClone</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css>

    </head>

    <body>
        <div class="insta">
            <header>
            <div class="logo">
                <img src="logo.png" width = 150 alt="**">
            </div>
            <div class="search-box">
                <i class = "fas fa-search"></i>
                <input type="search" placeholder="Search..">
            </div>
            <nav>
                <ul>
                    <li><a href="#"><i class="fa-solid fa-home"></i><span><b>Home</b></span></a></li>
                    <li><a href="#"><i class="far fa-facebook-messenger"></i><span><b>Explore</b></span></a></li>
                    <li><a href="#"><i class="fa fa-circle-play"></i><span><b>Reels</b></span></a></li>
                    <li><a href="#"><i class="far fa-heart"></i><span><b>Notifications</b></span></a></li>
                    <li><a href="#"><i class="far fa-plus-square"></i><span><b>Create</b></span></a></li>
                </ul>

            </nav>
            </header>

        </div>

    </body>
</html>
