:root { /* root variables for colors*/
    --white: #f5f5f5;
    --black: #000;
    --gray: #262626;
    --light-gray: #a8a8a8;
    --blue: #0095f6;
}
html,
body { /* basic setup for body of website*/
    scroll-behavior: smooth;
    background-color: var(--black);
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Arial, sans-serif;
    color: var(--white);
    overflow-x: hidden;
    display: flex;
    width: 100vw;
    margin: 0px;
}
a { /* styling of text of navigation buttons*/
    color: var(--white);
    text-decoration: none;
}

.sidebar { /*styling for the left navagation area*/
    /*background-color: var(--white);*/
    width: 250px;
    height: 100vh;
    position: fixed;
    border-right: 1px solid var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper-container { /*upper section of left side, where actual navagation icons will be*/

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /*align-items: center;*/
    gap: .15rem;
    padding: 1rem;
}

.bottom-container {
    padding: 1rem;
}

.logo { /*Instagram logo*/
    width: 100px;
    margin: 1rem 0rem;
}

.link { /*styling of navigation icons*/
    display: flex;
    align-items: center;
    padding: .7rem 0;
    color: var(--white);
    font-size: .8rem;
}

.link i { /*space between icon and text of navigation*/
    margin-right: 10px;
}
.bottom-navbar {
    display: none;
}
@media screen and (max-width: 900px) { /*media query for less than 900px*/
    /*allows for items on website to still look correct even at smaller browser sizes*/
    .sidebar {
        width: 60px;
    }
    .upper-container{
        align-items: center;
    }
    .link a{
        display: none;
    }
    .logo {
        display: none;
    }

    .logo2 {
        display: block;
        width: 1rem;
        margin: 1rem 0rem;
        margin-left: -5rem;
    }

    .bottom-container {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .sidebar{
        display: none;
    }
    .bottom-navbar {
        position: fixed;
        bottom: 0;
        width: 90vw;
        padding: 1rem 0rem;
        display: flex;
        justify-self: space-between;
        align-items: center;
        border-top: 1px solid var(--gray);
        height: 24px;
        padding: 1rem;
    }
}


